<li class="photo-card">
  <img src="{{ webformatURL }}" alt="{{ tags }}" data-source="{{largeImageURL}}" />

  <div class="img-icons">
    <p class="img-icon">
      <i class="material-icons">thumb_up</i>
      {{ likes }}
    </p>
    <p class="img-icon">
      <i class="material-icons">visibility</i>
      {{ views }}
    </p>
    <p class="img-icon">
      <i class="material-icons">comment</i>
      {{ comments }}
    </p>
    <p class="img-icon">
      <i class="material-icons">cloud_download</i>
      {{ downloads }}
    </p>
  </div>
</li>